@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,600&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,300;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
/* font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --white: #ddd;
  --dark: #111;
  --darkGrey: #474b4f;
  --lightGreen: #86c232;
  --darkGreen: #61892f;
  --transition: all 0.55s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Oswald, sans-serif;
}

body {
  line-height: 1.6;
  background: rgb(0, 0, 0);
}

img {
  width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(241, 230, 230);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 15px 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  width: 90vw;
  margin: 0 auto;
  
}

.active {
  color: var(--lightGreen) !important;
}


.about {
  margin-top: -160px;
}

.about-content img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.about-img {
  background: rgb(8, 224, 188);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
}

.about-content h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 35px;
  color: var(--lightGreen);
}

.about-content h3 {
  color: rgb(245, 241, 12);
  font-size: 30px;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.1);
  width: 400px;
  margin: 35px auto;
  text-align: center;
}

blockquote {
  font-size: 20px;
  color: rgb(200, 204, 228);
  font-weight: 300;
  opacity: 0.9;
  width: 60vw;
  margin: 45px auto 15px auto;
  text-align: center;
}

blockquote span {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--darkGreen);
  font-weight: 300;
  letter-spacing: 5px;
  display: block;
}

.social-icons {
  width: 350px;
  margin: 40px auto 0 auto;
  padding-bottom: 30px;
}

.social-icons ul a {
  color: #fff;
  font-size: 30px;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.social-icons ul {
  display: flex;
  justify-content: space-around;
}

.social-icons ul a:hover {
  background: var(--lightGreen);
  border-color: var(--lightGreen);
}

@media screen and (min-width: 992px) {
  .about {
    margin-top: 0;
  }

  /* extra small sized screen */

  @media screen and (max-width: 500px) {
    .header {
      padding-bottom: 30px;
    }
    .social-icons {
      display: none;
    }
    .about-content h3 {
      width: 100%;
    }
    .about-content blockquote {
      font-size: 16px;
      width: 100%;
    }
    h2 {
      font-size: 30px !important;
    }
    h3 {
      font-size: 20px !important;
    }
    p {
      font-size: 15px;
    }
  }
}
